<h1>Pages#landing</h1>
 <table>
<% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.Email %></td>
        <tr>
        <%end%>
</table>
<p>Find me in app/views/pages/landing.html.erb</p>
